#registry.registry
  %h2 Gift Registry

  = link_to 'https://www.amazon.com/wedding/geraldine-miller-william-fisher-chena-hot-springs-october-2016/registry/2UYOPEP6OGCBY' do
    = image_tag 'amazon.png'
